/* Pg1_Sections_01.css 
	Purpose:	These styles are only used on page 1 of food services. Several sections are in here
				and I didn't want to keep making the first file huge with more styles, so I separated them out
*/

	.foodLogo {				/* "Food Services" logo on top of hero, scrolls with page */
		position:relative;
		top: 181px;
		width:  383px;
		height: 238px;
		margin: auto;		/* auto centers it horizontally */
	}

	.heroframe {
		position:relative;
		background-color: transparent;
		background-repeat:no-repeat;
		position:relative;
		top: -60px;			/* We want this higher so that when parallax happens we don't see white on top*/
	}

	div #btn-Pos {				/* Position the city finder buttons */
		top: 180px;
		left: 150px;
	}

	.heroImg {
		background-image:  url("../img/Hero900.png");
		width:1280px;
		height: 660px;
	}

	/* In the hero image are two inputs to get the State and City (locState, locCity below)
		build up their styles by starting most off with the width/height, then build up the
		styles that are needed until we end up with just individual settings like left
		where we are only defining elements in one style instead of a list where we start off
	*/
    .locStatePick, .locCityPick, .locSearchBut, .btn, li {
		width: 248px;
		height: 48px;
		font-size: 16px;
		font-family: "Arial";
		letter-spacing: 2px;
		color: rgb(95, 106, 114);
		line-height: 0.75;
        z-index: 250;
		text-align: left;
    }

    .locStatePick, .locCityPick, .locSearchBut {
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        position: absolute;
        top: 87px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    .locStatePick, .locCityPick {
        background-color: white;
        color: darkblue;
        border-color: rgb(221, 228, 233);
    }

    .locStatePick {
        left: 100px;
    }

    .locCityPick {
        left: 400px;
    }

    .btn {
        background-color:white;
        position:relative;
    }

	li {		/* Adjust how the dropdown menus are a little different than the button text */
		font-size: 14px;
		height:auto;
	}

    .locSearchBut {
		left: 700px;
		background-color: rgb(120, 182, 51);
		color: white;
		font-size: 14px;
		text-transform:uppercase;
		letter-spacing: 2px;
		line-height: 0.857;
		text-align: center;
    }

    .searchCaret {
        position: absolute;
        right: 5px;
        top: auto;
        width: 14px;
        height: 8px;
        z-index: 300;
    }

/* DCMP Section */
#DCMP { /* Enclosing div on this section, putting common items here */
	position: relative;
	/* top: 600px; */
	width: 1280px; /* w/o this width specified, it didn't have one */
	font-family: "Arial";
	font-size: 14px;
	background-color: white;
	text-align: center;
	z-index: 100;
	height:850px;	/* This will have to be adjusted depending on the content */
}

.dcmp_row {
	position: relative;
	top: 15px;
}

/* Common to all DCMP section icons */
.dcmp_iconDining, .dcmp_iconCatering, .dcmp_iconEvents {
    width: 175px;
    height: 175px;
}

dcmp_iconDining	{
    left: 154px;
}

.dcmp_iconCatering {
    left: 554px;
}

.dcmp_iconEvents {
    left: 954px;
}

	div.dcmp_InfoHdr { /* Common text characteristics for all 3 column headers */
		font-size: 32px;
		color: rgb(120, 182, 51); /* Green header */
		font-weight: bold;
		line-height: 0.844;
	}

	div.dcmp_InfoText { /* Common to all columns text blurbs */
		color: rgb(95, 106, 114); /* Darker text*/
		font-size: 14px;
		font-weight: normal;
	}

	#dcpm_DiningHdr {
		left: 100px;
		width: 264px;
		height: 133px;
	}

	#dcpm_CateringHdr {
		left: 500px;
		width: 245px;
		height: 133px;
	}

	#dcpm_PromosHdr {
		left: 900px;
		width: 267px;
		height: 107px;
	}

	.dcpm_accordionButs {
		position: relative;
		top: 15px;
		left: 10px;
		z-index: 120;
		background-color: rgb(120, 182, 51);
		color: white;
		width: 320px;
		height: 42px;
		border-radius: 5px;
		text-align: left;
		padding: 10px;
		font-weight: bold;
	}

	/* We don't want to see the button representation, because we're using the down arrow caret*/
	.dcpm_NoBut {
		visibility: hidden;
	}

	.dcpm_caret {
		position: absolute;
		right: 20px;
		top: 8px;
		z-index: 130;
		width: 25px;
		height: 25px;
		visibility: visible;
	}

	.dcpm_cafes {
		position: relative;
		top: 20px;
	}

	.dcpm_accordPanels {
		width: 320px;
		height: 42px;
	}

	#dcpm_DiningText {
	}

	#dcpm_CateringText {
	}

	#dcpm_PromosText {
	}

/* Any of the buttons in the dcpm section 3 columns */
	.dcpm_SectBut {
		position: relative;
		top: 10px;
		width: 320px;
		height: 42px;
		background-color: rgb(120, 182, 51); /* Green button color */
		color: white;
		border-radius: 5px;
		text-align:center;
		font-size: 16px;
		font-family: Arial;
		font-weight: bold;
		margin: 15px 40px 5px 40px;
		padding: 10px 0px 20px 0px;
	}

	/* Contacts Section starts 2039 in comp*/
	#contactsBg {
		position: relative;
		/* top: 600px; */
		width: 1280px;
		height: 250px;
		left: 0px;
		background-color: rgb(246, 246, 246);	/* lt grey background */
		box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.04);
		z-index: 100;
		line-height: 2;
		font-family: "Arial";
		color: rgb(94, 106, 114);
		font-size: 16px;
		text-align: center;
	}

	#contactsTitle { /* y=2094 title is 36pt bold */
		font-size: 36px;
		font-weight: bold;
		top: 10px;
		position: relative;
	}

	/*  Questions? (2131) is 16pt, regular, same as title */
	#contactsQuestions {
		position: relative;
	}

	#contacts3Col {
		text-align: left;
		left: 100px;
		line-height: 1.143;
		font-weight: bold;
		margin-left:100px;
		position: relative;
	}

	/* title of contact - green  y=2174  below it was 2194 before I changed it to 135*/
	.contactsPeopleTitle {
		font-size: 21px;
		color: rgb(120, 182, 51); /* the green bold 21pt */
		top: 135px;
	}

	/* title line  (2201) */
	.contactsPplDept {
		font-size: 21px;
		top: 162px;
		font-weight: normal;
	}

	/* phone number (2226) */
	.contactsPhone {
		font-size: 21px;
		font-weight: bold;
		top: 187px;
	}

	/* Well-Being Section */
	#wbSection {
		height: 300px;
		color: white;
		background-image: url("../img/WellBeingBkgnd.png");
		background-color: transparent;
	}

	#wbLeftCol {
		font-family: "Arial Narrow";
	}

	#wbLeftTitle {
		font-size: 75px;
		line-height: .8;
		position: relative;
		top: 40px;
	}

	#wbLeftSlogan {
		font-size: 24px;
		position: relative;
		top: 40px;
	}

	#wbRightTitle {
		color: rgb(120,182,51);
		font-weight: bold;
		font-size: 36px;
	}

	#wbRightText {
		font-size: 14px;
		line-height: 1.5;
	}

	.wb3ColButs {
		top: 20px;
		position: relative;
		background-color: rgb(120, 182, 51); /* Green buttons in well being section*/
		border-radius: 5px;
		text-align: center;
		font-weight: bold;
		height: 40px;
		padding-top: 10px;
	}
	
/* Recycling Section is most similar to the Well Being one, so I'm putting the css here  */
	#cycleSection {
		height: 300px;
		color: white;
		background-color: rgb(0,150,219);
	}

	#cycleLeftTitle {
		font-size: 40px;
		position: relative;
		font-family: 'Arial Narrow';
		top: 45px;
	}

	#cycleLeftList {
		font-size: 18px;
		position: relative;
		color:white;
		top: 60px;
		line-height: 1.2;
	}

	#cycleLeftList li {		/* For the li elements in this named div, change to this */
		line-height: 1.2;
		color: white;
	}

	.cycleLeft2Buts {
		top: 85px;
		position: relative;
		background-color: rgb(120, 182, 51); /* Green buttons in well being section*/
		border-radius: 5px;
		text-align: center;
		font-weight: bold;
		height: 40px;
		width: 150px;
		padding-top: 10px;
	}

#cycleRightArrows {
		position: absolute;
		right:30px;
	}

	#payTtl, #eurTtl {
		position: relative;
		top: 30px;
		font-weight: bold;
		font-size: 36px;
	}

	#payText, #eurText {
		position: relative;
		top: 30px;
		margin: 20px 250px 30px 250px;
	}

	/* Payroll Section */
	#payBkgnd {
		background-image: url("../img/PayrollBkgnd.png");
		height: 300px;
		color: white;
	}
	#payViewMore {
		position: relative;
		top: 20px;
		color: rgb(120,182,51);
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		width: 112px;
		height: 36px;
		padding-top: 10px;
		font-weight: bold;
		margin: auto;
	}

	/* Eurest Section */
	#eurBkgnd {
		background-image: url("../img/EurestBkgnd.png");
		height: 410px;
		color: rgb(94,106,114);
	}

	#eurTokenOrder {
		position: relative;
		top: 20px;
		color: white;
		border-radius: 5px;
		background-color: rgb(120, 182, 51);
		width: 150px;
		height: 36px;
		padding-top: 10px;
		font-weight: bold;
		margin: auto;
		font-size:15px;
	}









