	.tullyLogo {				/* "Food Services" logo on top of hero, scrolls with page */
		position:relative;
		width:  278px;
		height: 314px;
		left:750px;
		top: 120px;
	}

	.tullyframe {
		background-color: transparent;
		background-repeat:no-repeat;
		position:relative;
		width:  1280px;		/* w/o this width specified, it didn't have one */
		height: 475px;
	}

	.tullyImg {
		position:relative;
		top: -45px;
		background-image:  url("../img/TullysBackground.png");
	}

	.TulIndent {			/* Use this class in addition to ID for all text */
		left: 150px;
	}

	#TulDescriptSection { /* Note we're also getting settings from common .fsSection */
		background-color: white;
		color: rgb(90, 103, 113); /* not-quite-black text color */
		font-size: 16px;
		line-height: 2;
		text-align: left;
		z-index: 110;
		font-weight: bold;
		bottom: 40px;	/* Make room for the view map button since it by itself doesn't increase the div height */
	}

	#TulDescriptTtl {
		position: relative;
		top: 15px;
		font-size: 36px;
	}

	#TulDescriptsubHdr {
		position: relative;
		top: 10px;
	}

	#TulDescriptParagraph {
		position: relative;
		top: 10px;
		font-weight: normal;
	}

	#TulDescriptViewMap {
		color: white;
		background-color: rgb(120, 182, 51); /* Green button bkgnd */
		border-radius: 5px;
		position: relative;
		top: 20px;
		bottom: 15px;
		width: 137px;
		height: 36px;
		padding-top: 4px; /* This makes the text center in the box */
		text-align: center;
		clear:both;
	}

	#TulStoreHoursSection { /* Note we're also getting settings from common .fsSection */
		color: rgb(95, 106, 114); /* Not quite black text color */
		background-color: rgb(246, 246, 246); /* light grey background */
		font-size: 16px;
		line-height: 1.2;
		text-align: left;
		z-index: 110;
		font-weight: bold;
	}

	#TulStoreHoursTtl {
		position:relative;
		font-size: 36px;
	}

#Hours4Columns {
	margin: 15px 100px 10px 150px;
}

	.TulHoursHdr {
		color: rgb(120, 182, 51); /* Green text */
		position:relative;
		font-size: 21px;
	}

	.TulHoursTimes {
		font-weight: normal;
		position:relative;
	}

